<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
我是thymeleaf的模板，替换jsp
<p th:text="'你好嘛？<br/>疫情马上结束'+${name}"></p>
<p th:utext="'你好嘛？<br/>疫情马上结束'+${name}"></p>
<hr/>
<input type="text" th:value="${name}">
<hr/>
<div th:if="${age} <= 20">
    年级小于20；正是学习的好时候
</div>
<select th:switch="1">
    <option th:case="0">男</option>
    <option th:case="1">女</option>
    <option th:case="2">其他</option>
</select>
</body>
</html>