<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>显示学生信息</title>
</head>
<body>
  <table border="2"width="80%">
      <tr>
          <td>序号</td>
          <td>学号</td>
          <td>姓名</td>
          <td>年龄</td>
          <td>性别</td>
          <td>地址</td>
          <td>状态</td>
          <td>生日</td>
          <td>操作</td>
      </tr>
      <tr th:each="s,state:${list}">
          <td th:text="${state.count}"></td>
          <td th:text="${s.xh}">学号</td>
          <!--姓名保留两位，年龄保留两位小数-->
          <td th:text="${#strings.substring(s.name, 0, 2)}">姓名</td>
          <td th:text="${#numbers.formatDecimal(s.age, 0, 2)}">年龄</td>
          <td th:text="${s.sex}">性别</td>
          <td th:text="${s.address}">地址</td>
          <td th:text="${s.state}">状态</td>
          <td th:text="${#dates.format(s.birthday,'yyyy年MM月dd日  HH:mm:ss')}">生日</td>
          <td>删除  修改</td>
      </tr>
  </table>
</body>
</html>